<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        nav{
            display: grid;
            grid-template-columns:repeat(6,1fr);
        }
        a{
            text-decoration: none;
            background-color: rgb(54, 165, 209);
            padding: 1.2rem;
            font-size: 1.4rem;
            text-align: center;
            color: black;
            font-family: monospace
        }

        a:hover{
            background-color: rgb(0, 128, 117);
            color: white;
        }

        .active{
            background-color: rgb(162, 11, 221);
            color: white;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/" class="active">Home</a>
        <a href="/add">Add</a>
        <a href="/update">Update</a>
        <a href="/delete">Delete</a>
        <a href="/display">display</a>
        <a href="/datajson">displayD</a>
    </nav>

</body>
</html>